<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>
    <div class="navbar-wagon">
      <!-- Logo -->
      <a href="/" class="navbar-wagon-brand">
        SIMON SHOOTS
      </a>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">

        <a href="" class="navbar-wagon-item navbar-wagon-link">Host</a>

        <!-- Profile picture with dropdown list -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Dropdown appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Host</a></li>
            <li><a href="#">Trips</a></li>
            <li><a href="#">Messagese</a></li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="footer-copyright">
        Simon GUILLORIT, <%= Time.now.strftime('%Y') %>
      </div>
    </div>
  </body>
</html>
